:root {
  --gradient-background: linear-gradient(to bottom, #295890, #323168);
  --gradient-accent: linear-gradient(to bottom, #ffc700, #e4a400);
  --gradient-text: linear-gradient(to bottom, #490082, #db00ff 48%, #490082);
  --gradient-overlay: linear-gradient(to bottom, #295890, #323168);
  --gradient-disabled: linear-gradient(to bottom, #878787, #4a4a4a);

  --color-accent: #f5ba00;
  --color-on-background: #ffffff;
}

.text-gradient {
  background-image: var(--gradient-text);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
}

.text-accent {
  color: var(--color-accent);
}
