:root {
  --gradient-background: linear-gradient(to bottom, #295890, #323168);
  --gradient-accent: linear-gradient(to bottom, #ffc700, #e4a400);
  --gradient-text: linear-gradient(to bottom, #490082, #db00ff 48%, #490082);

  --color-on-background: #ffffff;
}
