:root {
  --text-h1: clamp(1.625rem, 1.315vw + 1.317rem, 2.5rem);
  --text-button: clamp(1.375rem, 0.939vw + 1.155rem, 2rem);
  --text-body: clamp(1rem, 0.939vw + 0.78rem, 1.625rem);
}

h1 {
  font-size: var(--text-h1);
  text-transform: uppercase;
}
